@model Employees.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Secondname)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Boss)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Boss.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
