@model IEnumerable<Employees.Models.Employee>

@{
    ViewData["Title"] = "Главная";
}

<h2 align="center">Данные о сотрудниках</h2>
<p>
    <a asp-action="Create">Добавить</a>
</p>
<table align="center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecruitDate)
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Secondname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boss.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecruitDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    <a asp-action="" asp-route-id="@item.Id">Руководители</a>
                </td>
            </tr>
        }
    </tbody>
</table>
